@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Luckiest+Guy&display=swap');

:root {
  --font-fredoka: 'Fredoka', sans-serif;
  --font-luckiest: 'Luckiest Guy', cursive;
}
